.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  background-color: #333333;
  color: #068fa1;
  padding: 1rem;
  text-align: center;
}

.name {
  margin: 0;
  font-size: 2.5rem;
}

.tagline {
  margin: 0;
  font-size: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  background-color: #0f94ac;
  padding: 1rem;
}

.section-title {
  margin: 0;
  font-size: 2rem;
}

.section-text {
  margin: 0;
  font-size: 1.2rem;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  background-color: #26d4e0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1
}