.AspirationsContainer {
    background-color: navy;
    padding: 100px;
    justify-content: center;
    display: flex;
}

.AspirationsBox {
    border: 2px solid black;
    top: 50%;
    border-radius: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    background-color: #19b7cc; 
    font-family: Arial, sans-serif;
    font-size: 16px; 
    height: 800px; 
    width: 800px;
    vertical-align: middle;
}