.AspirationsContainer {
    background-color: navy;
    padding: 150px;
    justify-content: center;
    display: flex;
}

.AspirationsBox {
    border: 2px solid black;
    top: 50%;
    border-radius: 25px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    background-color: #19b7cc; 
    font-family: Arial, sans-serif;
    font-size: 16px; 
    height: 800px; 
    width: 800px;
    vertical-align: middle;
    opacity: 100%;
}

.AspirationsBox ul {
    margin-left: 50px;
    font-style: italic;
}

.AspirationsImage {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}
