.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c613d6;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-size: 32px;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .text {
    margin: 10px 0;
  }
  
  button {
    background-color: #ccb119;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  