.AboutMeContainer {
    background-image: url("Binary-photo.jpg");
    background-color: navy;
    padding: 630px;
    justify-content: center;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.AboutMeBox {
    border: 2px solid black;
    top: 10%;
    border-radius: 25px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    background-color: #0c729b; 
    font-family: Arial, sans-serif;
    font-size: 16px; 
    height: 600px; 
    width: 600px;
    vertical-align: middle;
    position: absolute;
    opacity: 0.98;
}

button {
    background-color: darkblue;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
  }
  
button:hover {
    background-color: hotpink;
  }

.AboutMeBoxText {
    justify-content: left;
    padding: 20px;
}

.AboutMeImage {
    width: 60%;
    height: auto;
    border-radius: 2%;
}

.JobsGrid {
    display: flex;
    position: absolute;
    bottom: 70px;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    width: 800px;
}


.jobsContainer {
    border: 5px solid silver;
    display: flex;
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.jobsContainer h2 {
    color: rgb(0, 0, 0); 
    font-size: 27px;   
}

.jobsContainer h3 {
    font-size: 16px;
    color:rgb(0, 0, 0);
}

.jobsContainer p {
    font-size: 12px;
}

.jobsLogo {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}