.AboutMeContainer {
    background-image: url("Binary-photo.jpg");
    background-color: navy;
    padding: 600px;
    justify-content: center;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.AboutMeBox {
    border: 2px solid black;
    top: 10%;
    border-radius: 25px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    background-color: #19cc46; 
    font-family: Arial, sans-serif;
    font-size: 16px; 
    height: 600px; 
    width: 600px;
    vertical-align: middle;
    position: absolute;
}

.AboutMeBoxText {
    justify-content: left;
    padding: 20px;
}

.AboutMeImage {
    width: 600px;
    height: 600px;
    border-radius: 2%;
}

.northernTrustContainer {
    border: 5px solid purple;
    display: flex;
    height: 200px;
    width: 200px;
    padding: 10px;
    position: absolute;
    background-color: aqua;
    bottom: 20px;
    left: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.northernTrustContainer h1 {
    color: purple;
}

.northernTrustLogo {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.optivContainer {
    border: 5px solid blue;
    display: flex;
    height: 200px;
    width: 200px;
    padding: 10px;
    position: absolute;
    background-color: aqua;
    bottom: 20px;
    left: 41%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.optivContainer h1 {
    color: blue;
}

.optivLogo {
    border-radius: 10%;
}

.deloitteContainer {
    border: 5px solid green;
    display: flex;
    height: 200px;
    width: 200px;
    padding: 10px;
    position: absolute;
    background-color: aqua;
    bottom: 20px;
    right: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
}

.deloitteContainer h1 {
    color: green;
}

.deloitteLogo {
    align-items: center;
    position: relative;
}