.FunFactsContainer {
    background-image: url("Brady\ Photo\ no2.PNG");
    background-attachment: fixed;
    background-position: center;
    padding: 120px;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
}

.FunFactsBox {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    background-color: #7b19cc; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    color: azure;
    opacity: .95;
    height: 1000px; 
    width: 500px;
    vertical-align: middle;
    margin-right: 50px;
}


.FunFactsBox p {
    padding: 10px;
    font-size: 16px;
}

.FunFactsImage {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

.PlaylistContainer {
    border: 2px solid rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 1000px;
    width: 500px;
    color: peru;
    background-color: aquamarine;
    opacity: .88;
    border-radius: 25px;
    text-align: center;   
}

 .PlaylistContainer h2 {
    margin-bottom: .22rem;
    color: peru;
    font-weight: bold;
    font-size: 50px;
    padding: 5px;
    max-width: 100%;
  }
  
.PlaylistContainer a {
    font-weight: 300;
    padding: 10px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    max-width: 100%;
  }

.header {
    background-color: white;
    justify-content: right;
    display: flex;
}

.header h4 {
    color: white;
    z-index: 1;
    padding: 5px;
    box-shadow: inset 0 0 0 0 white;   
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header h4:hover {
  box-shadow: inset 100px 0 0 0 white;
  color: white;
  cursor: pointer;
}